USE [mercedesdb]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Organizations_OrganizationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_dbo.Users_dbo.Organizations_OrganizationId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroups_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroups]'))
ALTER TABLE [dbo].[UserGroups] DROP CONSTRAINT [FK_dbo.UserGroups_dbo.Apps_AppId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroupMembers_dbo.Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]'))
ALTER TABLE [dbo].[UserGroupMembers] DROP CONSTRAINT [FK_dbo.UserGroupMembers_dbo.Users_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroupMembers_dbo.UserGroups_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]'))
ALTER TABLE [dbo].[UserGroupMembers] DROP CONSTRAINT [FK_dbo.UserGroupMembers_dbo.UserGroups_GroupId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetas_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetas]'))
ALTER TABLE [dbo].[TableMetas] DROP CONSTRAINT [FK_dbo.TableMetas_dbo.Apps_AppId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetaRelations_dbo.TableMetas_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]'))
ALTER TABLE [dbo].[TableMetaRelations] DROP CONSTRAINT [FK_dbo.TableMetaRelations_dbo.TableMetas_ParentId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetaRelations_dbo.TableMetas_ChildId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]'))
ALTER TABLE [dbo].[TableMetaRelations] DROP CONSTRAINT [FK_dbo.TableMetaRelations_dbo.TableMetas_ChildId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Roles_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Roles]'))
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [FK_dbo.Roles_dbo.Apps_AppId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permissions_dbo.Roles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permissions]'))
ALTER TABLE [dbo].[Permissions] DROP CONSTRAINT [FK_dbo.Permissions_dbo.Roles_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Modules_dbo.Groups_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modules]'))
ALTER TABLE [dbo].[Modules] DROP CONSTRAINT [FK_dbo.Modules_dbo.Groups_GroupId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Groups_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ModuleGroups]'))
ALTER TABLE [dbo].[ModuleGroups] DROP CONSTRAINT [FK_dbo.Groups_dbo.Apps_AppId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]'))
ALTER TABLE [dbo].[IdentityUserRole] DROP CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]'))
ALTER TABLE [dbo].[IdentityUserRole] DROP CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserLogin_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserLogin]'))
ALTER TABLE [dbo].[IdentityUserLogin] DROP CONSTRAINT [FK_dbo.IdentityUserLogin_dbo.IdentityUser_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserClaim_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserClaim]'))
ALTER TABLE [dbo].[IdentityUserClaim] DROP CONSTRAINT [FK_dbo.IdentityUserClaim_dbo.IdentityUser_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ColumnMetas_dbo.TableMetas_TableId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ColumnMetas]'))
ALTER TABLE [dbo].[ColumnMetas] DROP CONSTRAINT [FK_dbo.ColumnMetas_dbo.TableMetas_TableId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ColumnMetas_dbo.TableMetas_ReferenceTableId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ColumnMetas]'))
ALTER TABLE [dbo].[ColumnMetas] DROP CONSTRAINT [FK_dbo.ColumnMetas_dbo.TableMetas_ReferenceTableId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AccessRights_dbo.Roles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccessRights]'))
ALTER TABLE [dbo].[AccessRights] DROP CONSTRAINT [FK_dbo.AccessRights_dbo.Roles_RoleId]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroups]') AND type in (N'U'))
DROP TABLE [dbo].[UserGroups]
GO
/****** Object:  Table [dbo].[UserGroupMembers]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]') AND type in (N'U'))
DROP TABLE [dbo].[UserGroupMembers]
GO
/****** Object:  Table [dbo].[TableMetas]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableMetas]') AND type in (N'U'))
DROP TABLE [dbo].[TableMetas]
GO
/****** Object:  Table [dbo].[TableMetaRelations]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]') AND type in (N'U'))
DROP TABLE [dbo].[TableMetaRelations]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permissions]') AND type in (N'U'))
DROP TABLE [dbo].[Permissions]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Organizations]') AND type in (N'U'))
DROP TABLE [dbo].[Organizations]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modules]') AND type in (N'U'))
DROP TABLE [dbo].[Modules]
GO
/****** Object:  Table [dbo].[ModuleGroups]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModuleGroups]') AND type in (N'U'))
DROP TABLE [dbo].[ModuleGroups]
GO
/****** Object:  Table [dbo].[IdentityUserRole]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]') AND type in (N'U'))
DROP TABLE [dbo].[IdentityUserRole]
GO
/****** Object:  Table [dbo].[IdentityUserLogin]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUserLogin]') AND type in (N'U'))
DROP TABLE [dbo].[IdentityUserLogin]
GO
/****** Object:  Table [dbo].[IdentityUserClaim]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUserClaim]') AND type in (N'U'))
DROP TABLE [dbo].[IdentityUserClaim]
GO
/****** Object:  Table [dbo].[IdentityUser]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUser]') AND type in (N'U'))
DROP TABLE [dbo].[IdentityUser]
GO
/****** Object:  Table [dbo].[IdentityRole]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityRole]') AND type in (N'U'))
DROP TABLE [dbo].[IdentityRole]
GO
/****** Object:  Table [dbo].[ColumnMetas]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ColumnMetas]') AND type in (N'U'))
DROP TABLE [dbo].[ColumnMetas]
GO
/****** Object:  Table [dbo].[Apps]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Apps]') AND type in (N'U'))
DROP TABLE [dbo].[Apps]
GO
/****** Object:  Table [dbo].[AccessRights]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccessRights]') AND type in (N'U'))
DROP TABLE [dbo].[AccessRights]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/12/2016 7:04:13 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AccessRights]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccessRights]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AccessRights](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PrincipalId] [nvarchar](128) NOT NULL,
	[PrincipalType] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[SecuredObjectId] [int] NOT NULL,
	[SecuredObjectType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AccessRights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Apps]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Apps]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Apps](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[GridTextColumnMaxLength] [int] NOT NULL,
	[PageSize] [int] NOT NULL,
	[DefaultGroupName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Apps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ColumnMetas]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ColumnMetas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ColumnMetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Caption] [nvarchar](100) NOT NULL,
	[DataType] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[MaxLength] [int] NULL,
	[OrderNo] [int] NOT NULL,
	[DisplayInGrid] [bit] NOT NULL,
	[EnumTypeName] [nvarchar](100) NULL,
	[IsForeignKey] [bit] NOT NULL,
	[IsPrimaryKey] [bit] NOT NULL,
	[IsIdentity] [bit] NOT NULL,
	[ReferenceTableId] [int] NULL,
	[FilterColumn] [nvarchar](max) NULL,
	[TableId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ColumnMetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[IdentityRole]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityRole]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IdentityRole](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[IdentityUser]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IdentityUser](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[IdentityUserClaim]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUserClaim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IdentityUserClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IdentityUserClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[IdentityUserLogin]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUserLogin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IdentityUserLogin](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[IdentityUserRole]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IdentityUserRole](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ModuleGroups]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ModuleGroups]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ModuleGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[OrderNo] [int] NOT NULL,
	[ShowInLeftMenu] [bit] NOT NULL,
	[AppId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ModuleGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modules]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ModuleType] [int] NOT NULL,
	[ScaffoldEntity] [nvarchar](100) NULL,
	[TableName] [nvarchar](100) NULL,
	[OrderNo] [int] NOT NULL,
	[Url] [nvarchar](100) NULL,
	[ShowInLeftMenu] [bit] NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Organizations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Organizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [varchar](50) NULL,
	[Decsription] [varchar](150) NULL,
 CONSTRAINT [PK_dbo.Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permissions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionType] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AppId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TableMetaRelations]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TableMetaRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[ChildId] [int] NOT NULL,
	[ForeignKeyName] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Caption] [nvarchar](100) NULL,
	[IsRendered] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TableMetaRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TableMetas]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableMetas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TableMetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Caption] [nvarchar](100) NOT NULL,
	[SchemaName] [nvarchar](100) NOT NULL,
	[AppId] [int] NOT NULL,
	[LookUpDisplayColumnId] [int] NULL,
 CONSTRAINT [PK_dbo.TableMetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserGroupMembers]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserGroupMembers](
	[UserId] [nvarchar](128) NOT NULL,
	[GroupId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserGroupMembers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserGroups]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserGroups](
	[Id] [nvarchar](128) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AppId] [int] NULL,
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.UserGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/12/2016 7:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[OrganizationId] [int] NULL,
	[AuthKey] [nvarchar](50) NULL,
	[UserId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[AccessRights] ON 

INSERT [dbo].[AccessRights] ([Id], [PrincipalId], [PrincipalType], [RoleId], [SecuredObjectId], [SecuredObjectType]) VALUES (1, N'547c24e4-e620-4375-95f6-7f87e30e369e', 2, 1, 3, 1)
INSERT [dbo].[AccessRights] ([Id], [PrincipalId], [PrincipalType], [RoleId], [SecuredObjectId], [SecuredObjectType]) VALUES (2, N'f6639693-c915-4ba7-a4b8-37b511141a5e', 2, 2, 3, 1)
INSERT [dbo].[AccessRights] ([Id], [PrincipalId], [PrincipalType], [RoleId], [SecuredObjectId], [SecuredObjectType]) VALUES (3, N'b50de242-2758-4ff5-a644-47b506ee39dd', 2, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[AccessRights] OFF
INSERT [dbo].[Apps] ([Id], [Name], [Description], [GridTextColumnMaxLength], [PageSize], [DefaultGroupName]) VALUES (0, N'Northwind Sample', N'This app was automatically generated from DbInspector, please change the name and description appropriately.', 50, 20, N'Ungrouped')
INSERT [dbo].[Apps] ([Id], [Name], [Description], [GridTextColumnMaxLength], [PageSize], [DefaultGroupName]) VALUES (1, N'DotWeb Admin', N'Admin modules of DotWeb applications', 50, 20, N'Ungrouped')
INSERT [dbo].[Apps] ([Id], [Name], [Description], [GridTextColumnMaxLength], [PageSize], [DefaultGroupName]) VALUES (2, N'Northwind Sample', N'This app was automatically generated from DbInspector, please change the name and description appropriately.', 50, 20, N'Ungrouped')
SET IDENTITY_INSERT [dbo].[ColumnMetas] ON 

INSERT [dbo].[ColumnMetas] ([Id], [Name], [Caption], [DataType], [IsRequired], [MaxLength], [OrderNo], [DisplayInGrid], [EnumTypeName], [IsForeignKey], [IsPrimaryKey], [IsIdentity], [ReferenceTableId], [FilterColumn], [TableId]) VALUES (1, N'Id', N'Id', 9, 1, NULL, 1, 1, NULL, 0, 1, 1, NULL, NULL, 1)
INSERT [dbo].[ColumnMetas] ([Id], [Name], [Caption], [DataType], [IsRequired], [MaxLength], [OrderNo], [DisplayInGrid], [EnumTypeName], [IsForeignKey], [IsPrimaryKey], [IsIdentity], [ReferenceTableId], [FilterColumn], [TableId]) VALUES (2, N'TrolleyNo', N'Trolley No', 18, 1, 100, 9, 1, NULL, 0, 0, 0, NULL, NULL, 1)
INSERT [dbo].[ColumnMetas] ([Id], [Name], [Caption], [DataType], [IsRequired], [MaxLength], [OrderNo], [DisplayInGrid], [EnumTypeName], [IsForeignKey], [IsPrimaryKey], [IsIdentity], [ReferenceTableId], [FilterColumn], [TableId]) VALUES (3, N'Rack', N'Rack', 18, 0, 100, 10, 1, NULL, 0, 0, 0, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ColumnMetas] OFF
INSERT [dbo].[IdentityUser] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'051222af-3f70-4a35-834c-726cca04b45d', N'dotindo@gmail.com', 0, N'AM7GYEqSvqmY1QgNo4d+N1SZkeEMydc5w1cQ9lfJWZFLC6EtwZaM2Fhyh+1pWAPCCQ==', N'5386cedd-2f89-4049-8146-64f8e5d65a17', NULL, 0, 0, NULL, 0, 0, N'tara')
INSERT [dbo].[IdentityUser] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'09a6e4cf-5890-4d59-bb42-8094a41495da', N'kucluk@gmail.com', 0, N'AFbo+zLQtXdaDYEkjnUVROAIM60F5We2TrdNtlh8DhztGjbSeCS/CXylDdYlvXnFJQ==', N'ee563e71-f1d7-4441-a1ac-a4456584aa3c', NULL, 0, 0, NULL, 0, 0, N'Kucluk')
INSERT [dbo].[IdentityUser] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0cb39128-cafe-44b7-847f-568ec273c4c3', N'ahan@test.com', 0, N'ABuq7DtLNOhhPjbxbW243iK4tiVuZnyhA4DJllaR81TiQiDQhYMRexEZLFwk/dL/Mw==', N'0f419a22-486c-4a4e-8dc3-94702bc410b3', NULL, 0, 0, NULL, 0, 0, N'ahan')
SET IDENTITY_INSERT [dbo].[ModuleGroups] ON 

INSERT [dbo].[ModuleGroups] ([Id], [Title], [Name], [OrderNo], [ShowInLeftMenu], [AppId]) VALUES (4, N'Admin', N'Admin', 1, 1, 1)
INSERT [dbo].[ModuleGroups] ([Id], [Title], [Name], [OrderNo], [ShowInLeftMenu], [AppId]) VALUES (5, N'Navigation', N'Navigation', 2, 1, 1)
INSERT [dbo].[ModuleGroups] ([Id], [Title], [Name], [OrderNo], [ShowInLeftMenu], [AppId]) VALUES (6, N'Summary Technical Alteration', N'STA', 21, 1, 3)
SET IDENTITY_INSERT [dbo].[ModuleGroups] OFF
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([Id], [Title], [ModuleType], [ScaffoldEntity], [TableName], [OrderNo], [Url], [ShowInLeftMenu], [GroupId]) VALUES (1, N'Apps', 1, NULL, NULL, 1, N'/Apps.aspx', 1, 4)
INSERT [dbo].[Modules] ([Id], [Title], [ModuleType], [ScaffoldEntity], [TableName], [OrderNo], [Url], [ShowInLeftMenu], [GroupId]) VALUES (2, N'Tables', 1, NULL, NULL, 2, N'/Tables.aspx', 1, 4)
INSERT [dbo].[Modules] ([Id], [Title], [ModuleType], [ScaffoldEntity], [TableName], [OrderNo], [Url], [ShowInLeftMenu], [GroupId]) VALUES (3, N'Groups / Modules', 1, NULL, NULL, 1, N'/Modules.aspx', 1, 5)
GO
SET IDENTITY_INSERT [dbo].[Modules] OFF
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([Id], [Name], [Code], [Decsription]) VALUES (1, N'APC 1', NULL, NULL)
INSERT [dbo].[Organizations] ([Id], [Name], [Code], [Decsription]) VALUES (2, N'APC 2', NULL, NULL)
INSERT [dbo].[Organizations] ([Id], [Name], [Code], [Decsription]) VALUES (3, N'EIP Documentation', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Organizations] OFF
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [PermissionType], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[Permissions] ([Id], [PermissionType], [RoleId]) VALUES (2, 2, 1)
INSERT [dbo].[Permissions] ([Id], [PermissionType], [RoleId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [AppId]) VALUES (1, N'Full Control', NULL, 3)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [AppId]) VALUES (2, N'Editor', NULL, 3)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [AppId]) VALUES (3, N'Reader', NULL, 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[TableMetaRelations] ON 

INSERT [dbo].[TableMetaRelations] ([Id], [ParentId], [ChildId], [ForeignKeyName], [Name], [Caption], [IsRendered]) VALUES (1, 2, 1, N'TrolleyListId', N'TrolleyListDetail_TrolleyLists_Trolley List', N'Trolley List Detail - Trolley List', 1)
INSERT [dbo].[TableMetaRelations] ([Id], [ParentId], [ChildId], [ForeignKeyName], [Name], [Caption], [IsRendered]) VALUES (3, 5, 6, N'IAHeaderId', N'IAParts_IAHeaders_IAHeader', N'IAParts - IAHeader', 1)
INSERT [dbo].[TableMetaRelations] ([Id], [ParentId], [ChildId], [ForeignKeyName], [Name], [Caption], [IsRendered]) VALUES (4, 5, 4, N'IAHeaderId', N'IAModels_IAHeaders_IAHeader', N'IAModels - IAHeader', 1)
SET IDENTITY_INSERT [dbo].[TableMetaRelations] OFF
SET IDENTITY_INSERT [dbo].[TableMetas] ON 

INSERT [dbo].[TableMetas] ([Id], [Name], [Caption], [SchemaName], [AppId], [LookUpDisplayColumnId]) VALUES (1, N'TrolleyListDetail', N'Trolley List Detail', N'dbo', 3, 2)
INSERT [dbo].[TableMetas] ([Id], [Name], [Caption], [SchemaName], [AppId], [LookUpDisplayColumnId]) VALUES (2, N'TrolleyLists', N'Trolley Lists', N'dbo', 3, 21)
INSERT [dbo].[TableMetas] ([Id], [Name], [Caption], [SchemaName], [AppId], [LookUpDisplayColumnId]) VALUES (3, N'Models', N'Models', N'dbo', 3, 24)
SET IDENTITY_INSERT [dbo].[TableMetas] OFF
INSERT [dbo].[UserGroupMembers] ([UserId], [GroupId]) VALUES (N'570a3e29-fdfe-4129-a7d4-2aa74941de21', N'f6639693-c915-4ba7-a4b8-37b511141a5e')
INSERT [dbo].[UserGroupMembers] ([UserId], [GroupId]) VALUES (N'907030bc-46d5-40c0-af39-34bfa7ea1b5b', N'b50de242-2758-4ff5-a644-47b506ee39dd')
INSERT [dbo].[UserGroupMembers] ([UserId], [GroupId]) VALUES (N'fa646366-7cc2-4129-86c7-1d486af1a2e8', N'547c24e4-e620-4375-95f6-7f87e30e369e')
SET IDENTITY_INSERT [dbo].[UserGroups] ON 

INSERT [dbo].[UserGroups] ([Id], [GroupName], [Description], [AppId], [GroupId]) VALUES (N'547c24e4-e620-4375-95f6-7f87e30e369e', N'Administrators', N'Administrators of DotMercy', 3, 2)
INSERT [dbo].[UserGroups] ([Id], [GroupName], [Description], [AppId], [GroupId]) VALUES (N'b410a15e-a4dc-47c0-8821-5b11719c527c', N'Administrators', N'Administrators of all applications', NULL, 1)
INSERT [dbo].[UserGroups] ([Id], [GroupName], [Description], [AppId], [GroupId]) VALUES (N'b50de242-2758-4ff5-a644-47b506ee39dd', N'Readers', N'Readers of DotMercy', 3, 5)
SET IDENTITY_INSERT [dbo].[UserGroups] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [FirstName], [LastName], [Email], [OrganizationId], [AuthKey], [UserId]) VALUES (N'09a6e4cf-5890-4d59-bb42-8094a41495da', N'Kucluk', N'Kucluk', N'Kucluk', N'kucluk@gmail.com', 1, NULL, 7)
INSERT [dbo].[Users] ([Id], [UserName], [FirstName], [LastName], [Email], [OrganizationId], [AuthKey], [UserId]) VALUES (N'0cb39128-cafe-44b7-847f-568ec273c4c3', N'ahan', N'A', N'Han', N'ahan@test.com', 2, NULL, 5)
INSERT [dbo].[Users] ([Id], [UserName], [FirstName], [LastName], [Email], [OrganizationId], [AuthKey], [UserId]) VALUES (N'570a3e29-fdfe-4129-a7d4-2aa74941de21', N'editor', N'Editor', NULL, N'editor@test.com', NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AccessRights_dbo.Roles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccessRights]'))
ALTER TABLE [dbo].[AccessRights]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AccessRights_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AccessRights_dbo.Roles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AccessRights]'))
ALTER TABLE [dbo].[AccessRights] CHECK CONSTRAINT [FK_dbo.AccessRights_dbo.Roles_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ColumnMetas_dbo.TableMetas_ReferenceTableId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ColumnMetas]'))
ALTER TABLE [dbo].[ColumnMetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ColumnMetas_dbo.TableMetas_ReferenceTableId] FOREIGN KEY([ReferenceTableId])
REFERENCES [dbo].[TableMetas] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ColumnMetas_dbo.TableMetas_ReferenceTableId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ColumnMetas]'))
ALTER TABLE [dbo].[ColumnMetas] CHECK CONSTRAINT [FK_dbo.ColumnMetas_dbo.TableMetas_ReferenceTableId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ColumnMetas_dbo.TableMetas_TableId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ColumnMetas]'))
ALTER TABLE [dbo].[ColumnMetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ColumnMetas_dbo.TableMetas_TableId] FOREIGN KEY([TableId])
REFERENCES [dbo].[TableMetas] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ColumnMetas_dbo.TableMetas_TableId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ColumnMetas]'))
ALTER TABLE [dbo].[ColumnMetas] CHECK CONSTRAINT [FK_dbo.ColumnMetas_dbo.TableMetas_TableId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserClaim_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserClaim]'))
ALTER TABLE [dbo].[IdentityUserClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaim_dbo.IdentityUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserClaim_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserClaim]'))
ALTER TABLE [dbo].[IdentityUserClaim] CHECK CONSTRAINT [FK_dbo.IdentityUserClaim_dbo.IdentityUser_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserLogin_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserLogin]'))
ALTER TABLE [dbo].[IdentityUserLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogin_dbo.IdentityUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserLogin_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserLogin]'))
ALTER TABLE [dbo].[IdentityUserLogin] CHECK CONSTRAINT [FK_dbo.IdentityUserLogin_dbo.IdentityUser_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]'))
ALTER TABLE [dbo].[IdentityUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[IdentityRole] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]'))
ALTER TABLE [dbo].[IdentityUserRole] CHECK CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]'))
ALTER TABLE [dbo].[IdentityUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[IdentityUserRole]'))
ALTER TABLE [dbo].[IdentityUserRole] CHECK CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Groups_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ModuleGroups]'))
ALTER TABLE [dbo].[ModuleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Groups_dbo.Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Groups_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ModuleGroups]'))
ALTER TABLE [dbo].[ModuleGroups] CHECK CONSTRAINT [FK_dbo.Groups_dbo.Apps_AppId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Modules_dbo.Groups_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modules]'))
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Modules_dbo.Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ModuleGroups] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Modules_dbo.Groups_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Modules]'))
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_dbo.Modules_dbo.Groups_GroupId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permissions_dbo.Roles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permissions]'))
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permissions_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permissions_dbo.Roles_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permissions]'))
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_dbo.Permissions_dbo.Roles_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Roles_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Roles]'))
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Roles_dbo.Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Roles_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Roles]'))
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_dbo.Roles_dbo.Apps_AppId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetaRelations_dbo.TableMetas_ChildId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]'))
ALTER TABLE [dbo].[TableMetaRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TableMetaRelations_dbo.TableMetas_ChildId] FOREIGN KEY([ChildId])
REFERENCES [dbo].[TableMetas] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetaRelations_dbo.TableMetas_ChildId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]'))
ALTER TABLE [dbo].[TableMetaRelations] CHECK CONSTRAINT [FK_dbo.TableMetaRelations_dbo.TableMetas_ChildId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetaRelations_dbo.TableMetas_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]'))
ALTER TABLE [dbo].[TableMetaRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TableMetaRelations_dbo.TableMetas_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[TableMetas] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetaRelations_dbo.TableMetas_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetaRelations]'))
ALTER TABLE [dbo].[TableMetaRelations] CHECK CONSTRAINT [FK_dbo.TableMetaRelations_dbo.TableMetas_ParentId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetas_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetas]'))
ALTER TABLE [dbo].[TableMetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TableMetas_dbo.Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TableMetas_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableMetas]'))
ALTER TABLE [dbo].[TableMetas] CHECK CONSTRAINT [FK_dbo.TableMetas_dbo.Apps_AppId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroupMembers_dbo.UserGroups_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]'))
ALTER TABLE [dbo].[UserGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroupMembers_dbo.UserGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[UserGroups] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroupMembers_dbo.UserGroups_GroupId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]'))
ALTER TABLE [dbo].[UserGroupMembers] CHECK CONSTRAINT [FK_dbo.UserGroupMembers_dbo.UserGroups_GroupId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroupMembers_dbo.Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]'))
ALTER TABLE [dbo].[UserGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroupMembers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroupMembers_dbo.Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroupMembers]'))
ALTER TABLE [dbo].[UserGroupMembers] CHECK CONSTRAINT [FK_dbo.UserGroupMembers_dbo.Users_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroups_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroups]'))
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroups_dbo.Apps_AppId] FOREIGN KEY([AppId])
REFERENCES [dbo].[Apps] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UserGroups_dbo.Apps_AppId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserGroups]'))
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_dbo.UserGroups_dbo.Apps_AppId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Organizations_OrganizationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Organizations_OrganizationId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Organizations_OrganizationId]
GO
